Cześć <%= @user.first_name %>,</br>
dziękujemy za skorzystanie z naszej aplikacji. Poniżej znajduje się kod potrzebny do zalogowania.
<h1>
  <%= @user.verification_code %>
</h1>
Szerokiej drogi,</br>
Zespół Krakostop